/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Slurm executor
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    partition = null
    gpu_partition = null
}

process {

    executor = 'slurm'
    queue    = params.partition

    resourceLimits = [
        cpus: 48,
        memory: 384.GB,
        time: 120.h
    ]

    withName: PARABRICKS_FQ2BAMMETH {
        queue = params.gpu_partition
        clusterOptions = '--gpus=nvidia_h200_nvl'
    }

}
